{% block asset_widget %}
    {% set file = form.vars.data %}
    <div class="asset-fileupload-widget">
        <input type="hidden" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        <span class="btn btn-labeled btn-info fileupload-button{% if form.vars.disabled or file %} disabled{% endif %}">
            <span class="btn-label icon fa"></span>
            {{ 'admin.akeneo.upload.upload_file'|trans }}
            {% if not form.vars.disabled %}
                <input type="file" data-url="{{ oneup_uploader_endpoint(form.vars.endpoint) }}?prefix={{ form.vars.prefix }}"
                       data-maxsize="{{ oneup_uploader_maxsize(form.vars.endpoint) }}">
            {% endif %}
        </span>
        <a href="{{ file ? admin_path('assets', 'viewReferenceFile', {assetCode: file.identifier }) }}" target="_blank" class="btn btn-default fileupload-file"
           {% if not file %}style="display: none"{% endif %}>
            <img src="{{ file ? file.identifier | imagine_filter('asset_thumbnail') }}" title="{{ file ? file.originalFileName }}" class="img-thumbnail fileupload-img" />
        </a>
        <br>
        <div class="progress" style="display: none; height:10px">
            <div class="progress-bar progress-bar-striped active"></div>
        </div>
        <div class="alert alert-danger" style="display:none;"></div>
    </div>
{% endblock %}